
# Ignore build+deps
ai/node_modules
ai/.next
ai/.turbo
my-app/node_modules
my-app/.next
my-app/.turbo
node_modules
.next
.turbo

# Ignore build+deps
node_modules
.next
.turbo
a i/node_modules
a i/.next
a i/.turbo
my-app/node_modules
my-app/.next
my-app/.turbo
